#ftp相关配置
#ftp的ip地址
FTP_ADDRESS=ftp ip
FTP_PORT=21
FTP_USERNAME=ftp用户名
FTP_PASSWORD=ftp密码
FTP_BASE_PATH=www/images
#图片服务器的相关配置
#图片服务器的基础路径
IMAGE_BASE_URL=http://nginxip/images
#redis缓存同步
REST_BASE_URL=http://localhost:8081/rest
REST_CONTENT_SYNC_URL=/cache/sync/content/